go 1.19

use (
	./01--hello
	./02--variables
	./03--user-input
	./04--conversion
	./05--times
	./06--pointer
	./07--my-array
	./08--my-slices
	./09--my-maps
	./10--my-structs
	./11--if-else
	./12--my-switch
	./13--loops
	./14--my-function
)
